<div class="col-9">
    <div class="row mb-4 h1">Login</div>

    <div class="row form-group"><label class="col-3">UserName</label>
        <div class="col-6"><input type="text" name="UserName"max="8" class="form-control"></div></div>

    <div class="row form-group"><label class="col-3">Password</label>
    <div class="col-6"><input type="password" name="password"max="8" class="form-control"></div></div>

    <div class="row form-group"><label class="col-3">Repeat password</label>
    <div class="col-6"><input type="password" name="password"max="8" class="form-control"></div></div>

    <div class="row form-group"><label class="col-3">Email</label>
    <div class="col-6"><input type="email" name="email"max="8" class="form-control"></div></div>

    <div class="row form-group"><label class="col-3"></label>
    <div class="col-6"><input type="submit" value="Register" class="btn btn-primary"></div>
 
</div>	
