<div class="container">
    <div class="row mt-5">
        <aside class="col-sm-3 mr-10">
            <div  class="mr-5">
                <div class="row justify-content-center mb-5">
                    <u><a href="acc.html">Account</a></u>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary btn-block mb-3">Login</button>   
                </div> 
                <div class="row">
                    <button type="button" class="btn btn-primary btn-block mb-3" (click)="register()">Register</button>                
                </div>
            </div>
        </aside> 